{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/authstyle.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'media/1.png'%}">
	<div class="container">
		<div class="img">
			<img src="{% static 'media/undraw_access_account_99n5.svg'%}">
		</div>
		<div class="login-content">
			<form method="POST">
				{% csrf_token %}
				<!-- <img src="img/avatar.svg"> -->
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="text" name="email" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input">
            	   </div>
            	</div>
            	{% for field in login_form %}
				<p>
						{% for error in field.errors %}
								<p style="color: red">{{ error }}</p>
						{% endfor %}
				</p>
				{% endfor %}
				{% if login_form.non_field_errors %}
						<div style="color: red">
								<p>{{login_form.non_field_errors}}</p>
						</div>
				
				{% endif %}
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/log.js'%}"></script>
</body>
</html>
